table, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    width: 700px;
    height: 700px;
}
.textAlign {
    text-align: center;
}
.td1 {
    border: none;
    background: orange;
}
.colorBlack {
    background: black;
}