/*td {
    border: 1px solid black;
    height: 30px;
}*/

table  {
    margin: auto;
    width: 60% ;
}

.sizePlacehoder {
    width: 100%;
    height: 30px;
}
.button {
    text-align: center;
}
.checkButtonColor {
    background-color: #008CBA;
    color: white;
    border: none;
    text-align: center;
    height: 25px;
}
.clearButtonColor {
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    height: 25px;
}